.black-bg{
    background-color: #000;
}

.invert-color{
    filter: invert(1);
}

.redBorder{
    border: 1px solid red;
}

.light-grey-bg{
    background-color: #1f1f1f;
}

.flex{
    display: flex;
}

.superflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mcHeight{
    height: calc(100vh - 14vh);
}

.borderRadius{
    border-radius: 10px;
}

.svg-color{
    color: #b3b3b3;
}