.black-bg{
    background-color: #000;
}
 
.invert-color{
    filter: invert(1);
}

.redBorder{
    border: 1px solid red;
}

.light-grey-bg{
    background-color: #1f1f1f;
}

.flex{
    display: flex;
}

.superflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mcHeight{
    height: calc(100vh - 14vh);
}

.borderRadius{
    border-radius: 10px;
}

.svg-color{
    color: #b3b3b3;
}

::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-track{
    border-radius: 0px 10px 10px 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(37, 34, 34);
}

@media only screen and (max-width : 550px) {
    .mcHeight{
        height: calc(100vh - 18vh);
    }
}